@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap");

h1 {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #35393F;
}


h2 {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 37px;
    color: #35393F;
}


h3 {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

h3 {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}

h4 {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}

h5 {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

h6 {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #E46643;
}

p {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #7C8187;
}

ol>li {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #7C8187;
}

ul>li {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #7C8187;
}

ul>li::marker {
    color: #E46643;
}

blockquote {
    background: #F5F5F5;
    border-radius: 4px;
    border-left: 4px solid #E46643;
    padding: 24px;
    margin: 0;
    color: #35393F;
}

blockquote {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}

blockquote a {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #35393F;
}

pre {
    background: #F5F5F5;
    border-radius: 4px;
    padding: 24px;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #35393F;
}